@import "../../bourbon/bourbon";
@import "vars";

/*==========  Desktop First  ========== */

@media only screen and (max-width: 1370px) {
  .bg_container {
    .top-pannel {
      padding: 10px 0;
      &-content {
        .top-phone {
          padding-bottom: 20px;

        }
      }
    }
  }
  .bg-content-wrapper {
    top: 25%;
    .bg-content {
      h1 {
        font-size: em(45px);
      }
    }
  }
  .bg-form-order {
    top: 53%;
    .top-form {
      padding: {
        top: 10px;
        bottom: 25px;
        left: 16px;
        right: 16px;
      }
      input {
        padding: 10px 12px;
        margin-bottom: 35px;
      }
    }
  }
  .what-is {
    &-text {
      padding: 20px 45px;
      p {
        font-size: em(16px);
        margin: 10px 0;
      }
    }
    .text-center {
      margin-top: 100px;
    }
  }
  .services {
    height: 100vh;
    &-content {
      .service-center {
        margin-bottom: 20px;
      }
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .bg-form-order {
    .form-top {
      input {
        padding: 10px 10px;
        font-size: em(16px);
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* */
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .bg_container {
    .top-pannel {
      &-content {
        h2 {
          display: none;
        }
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* */
}

@media only screen and (max-width: 360px) {
  section {
    h2 {
      font-size: em(32px);
    }
  }
  .bg_container {
    .top-pannel {
      &-content {
        .top-phone {
          font-size: em(24px);
        }
      }
    }
  }
  .bg-content-wrapper {
    .bg-content {
      h1 {
        font-size: em(40px);
      }
    }
  }
  .bg-form-order {
    .top-form {
      input {
        &[type=email] {
          display: none;
        }
      }
    }
  }
  .what-is {
    &-2-col {
      width: 100%;
    }
    &-text {
      padding: 26px 35px;
      .heading {
        margin-bottom: 20px;
      }
    }
  }
  .feature {
    &-item {
      &:hover .feat_item_cont {
        padding-top: 0;
      }
      .feat_item_cont {
        h3 {
          margin-bottom: 30px;
          font-size: em(25px);
        }
      }
    }
  }
  .services {
    height: 100%;
    &-content {
      h2 {
        padding: 30px 0;
        &::after {
          top: 145px;
        }
      }
      .service-center {
        padding-bottom: 30px;
        h3 {
          font-size: em(28px);
        }
      }
    }
  }
  .manufacturing {
    h2::after {
      top: 175px;
    }
    iframe {
      width: 100%;
      height: 180px;
    }
  }
  .contacts {
    h2 {
      margin-bottom: 70px;
      &::after {
        top: 180px;
      }
    }
    .contacts-form {
      margin-bottom: 45px;
    }
    .item-socials {
      text-align: center;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */
}

/*==========  Mobile First  ========== */

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* */
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* */
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* */
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* */
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* */
}
