@import "../../bourbon/bourbon";
@import "vars";

/*==========  Desktop First  ========== */

@media only screen and (max-width: 1370px) {
  .bg_container {
    .top-pannel {
      padding: 15px 0;
      &-content {
        .top-phone {
          padding-bottom: 20px;

        }
      }
    }
  }
  .bg-content-wrapper {
    top: 25%;
    .bg-content {
      h1 {
        font-size: em(45px);
      }
    }
  }
  .bg-form-order {
    top: 53%;
    .form-top {
      padding: {
        top: 15px;
        bottom: 25px;
        left: 20px;
        right: 20px;
      }
      input {
        padding: 12px 15px;
        margin-bottom: 35px;
      }
    }
  }
  .what-is {
    &-text {
      p {
        font-size: em(16px);
      }
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .bg-form-order {
    .form-top {
      input {
        padding: 10px 10px;
        font-size: em(16px);
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* */
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .bg_container {
    .top-pannel {
      &-content {
        h2 {
          display: none;
        }
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* */
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */
}

/*==========  Mobile First  ========== */

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* */
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* */
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* */
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* */
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* */
}
