@import "../../bourbon/bourbon";

$default-font: "Open Sans", sans-serif;
$primary-font: "Open Sans Condensed", sans-serif;
$secondary-font: "Roboto", sans-serif;

$accent-color: tomato;
$black-color: #111;
$gray-color: #ccc;
$blue-color: #97E0F8;