@import "../../bourbon/bourbon";
@import "fonts";
@import "libs";
@import "vars";

*::-webkit-input-placeholder {
  color: #D0D0D0;
  opacity: 1;
}

*:-moz-placeholder {
  color: #D0D0D0;
  opacity: 1;
}

*::-moz-placeholder {
  color: #D0D0D0;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #D0D0D0;
  opacity: 1;
}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}

body input:required:valid,
body textarea:required:valid {
  color: #666;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  margin: 0;
  line-height: 1.7;
  font-family: $default-font;
  overflow-x: hidden;
}

a {
  outline: none !important;
}

h1, h2, h3, h4, h5, h6, .button,
.h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: uppercase;
}

.button {
  text-decoration: none;
  background-color: $accent-color;
  padding: 12px 22px;
  color: #fff;
  border-radius: 5px;
  font: {
    size: 18px;
    weight: 400;
  }
}

.text-right {
  text-align: right;

}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

section {
  padding: 70px 0;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
  position: relative;
}

.mbYTP_wrapper::before {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, .4);
  z-index: 10;
}

.bg_container {
  position: relative;
  z-index: 10;
  color: #fff;
  .top-pannel {
    position: absolute;
    padding: 20px 0;
    z-index: 20;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    &-content {
      .logo {
        img {
          position: relative;
          width: 200px;
        }
      }
      h2 {
        font: {
          family: $primary-font;
          weight: 400;
          size: em(29px);
        }
        margin: 0;
        margin-left: 30px;
      }
      .top-phone {
        padding-bottom: 30px;;
        font: {
          size: em(30px);
        }
      }
    }
  }
}

.bg-content-wrapper {
  display: table;
  width: 100%;
  left: 0;
  top: 35%;
  margin: 0 auto;
  position: absolute;
  overflow: hidden;
  text-align: center;
  .bg-content {
    color: #fff;
    vertical-align: middle;
    display: table-cell;
    transition: all 2.5s ease;
    h1 {
      font-size: em(60px);
      font-weight: 400;
      margin-bottom: 0;
    }
    > span {
      display: block;
      font-size: em(30px);
      text-transform: uppercase;
    }
  }
}

.bg-form-order {
  width: 100%;
  left: 0;
  top: 62%;
  margin: 0 auto;
  position: absolute;
  color: #fff;
  text-align: center;
  .form-top {
    position: relative;
    color: #fff;
    background-color: rgba($black-color, .6);
    z-index: 15;
    padding: {
      top: 20px;
      bottom: 40px;
      left: 20px;
      right: 20px;
    }
    border: 1px dotted $accent-color;
    border-radius: 20px;
    h3 {
      margin: 0;
      font: {
        family: $secondary-font;
        size: em(28px);
        weight: 400;
      }
      letter-spacing: 3px;
    }
    p {
      font-size: em(18px);
      margin-top: 0;
    }
    input {
      padding: 15px 18px;
      border: none;
      border-radius: 10px;
      font-size: em(20px);
      margin-bottom: 50px;
      outline: none;
    }
    &::before {
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      color: #fff;
      position: absolute;
      opacity: .16;
      z-index: 0;

    }
  }
}

// Всегда в конце
@import "media";
